@model InterAssistMVC.Models.Case

@{
    /* EGV 14May2017
  InterAssist: Página para la Búsqueda/Consulta/Edición o Alta de Casos.
  Botón de alta redirecciona a la página de Alta.
  Filtro de búsqueda con botón, al presionarlo se completa la grilla con el resultado de búsqueda.
  Al seleccionar un ítem se redirecciona a la pantalla de Consulta/Edicion
  */
}

@{
    Layout = "~/Views/Shared/InterAssistLayout.cshtml";

    ViewBag.TableTitle = "Casos";
    ViewBag.Title = "Casos";
}

<link href="~/Styles/InterassistUI.css" rel="stylesheet" />
<style>
    .x-column-header {
        font-weight: bold;
    }

    .x-grid-row .x-grid-cell {
        font: 13px/18px tahoma,arial,verdana,sans-serif;
    }
</style>

<h1 class="page-header">@ViewBag.Title</h1>
@if (InterAssistMVC.Utils.UISecurityManager.HasAccessTo(InterAssistMVC.Utils.UISecurityManager.CASE_CREATE_KEY))
{
    <div>
        <p><button type="button" class="btn btn-success" onclick="javascript:window.location.assign('@Url.Action("Create", "Case")')" data-toggle="tooltip" data-placement="top" title="Crear un nuevo caso en el sistema">Nuevo Caso</button></p>
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-truck fa-fw"></i> @ViewBag.TableTitle
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table style="width: 100%">
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td style="width: 100%">
                                    &nbsp;
                                </td>
                                <td>
                                    <div class="form-group input-group">
                                        <input type="text" class="form-control" style="width: 500px" placeholder="Buscar..." id="txtSearch">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" onclick="_onClickSearch()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%">
                        @(Html.X().ResourceManager())
                        @(Html.X().GridPanel()
                                .ID("GrdCases")
                                .Frame(false)
                                .Height(450)
                                .Store(
                                    Html.X().StoreForModel()
                                        .Proxy(Html.X().AjaxProxy()
                                                    .Url(Url.Action("ListCases"))
                                            .Reader(Html.X().JsonReader().RootProperty("data"))
                                        )
                                        .RemoteSort(true)
                                        .PageSize(10)
                                        .SorterFor(Model, m => m.Id, Ext.Net.SortDirection.DESC)
                                )
                                .ColumnModel(
                                    Html.X().Column().DataIndex(Model, m => m.Id).Text("Id").Width(80),
                                    Html.X().Column().DataIndex(Model, m => m.NombreAfiliado).Text("Afiliado").Width(200),
                                    Html.X().Column().DataIndex(Model, m => m.Patente).Text("Patente").Width(100),
                                    Html.X().Column().DataIndex(Model, m => m.Poliza).Text("Poliza").Width(120),
                                    Html.X().Column().DataIndex(Model, m => m.Estado).Text("Estado").Width(150),
                                    Html.X().Column().DataIndex(Model, m => m.NombreOperador).Text("Operador").Width(200)
                                )
                                .Listeners(ls => ls.RowDblClick.Handler = "EditarCaso(record.data.Id)")
                                .BottomBar(
                                    Html.X().PagingToolbar()
                                        .DisplayInfo(true)
                                        .DisplayMsg("Mostrando Casos {0} - {1} of {2}")
                                        .EmptyMsg(@ViewBag.NoRecords)
                                )
                        )

                    </td>
                </tr>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
</div>



<script src="~/Scripts/InterassistUI.js"></script>
<script>
    function _onClickSearch() {
        var textToSearch = $("#txtSearch").val();
        var store = App.GrdCases.getStore();
        store.load({ params: { paramWideSearch: textToSearch } });

    }

    function EditarCaso(id) {
        window.location.assign('@Url.Action("Edit", "Case")' + '/' + id);
    }
</script>

